<div class="body-container">
  <div class="hero">
    <div class="title">TO-DO LIST</div>
  </div>

  <div class="section input-container">
    <form (submit)="addTask()">
      <input
        type="text"
        name="newTodo"
        [(ngModel)]="newTodo"
        placeholder="What would you like to do?"
      />
      <button (click)="addTask()">Add</button>
    </form>
  </div>

  @if (toDos.length != 0) {
  <div class="section todos-container">
    @for (toDo of toDos; track $index) {
    <div class="todo" [class.completed]="toDo.isCompleted" [@listAnimation]>
      <input
        type="checkbox"
        [(ngModel)]="toDo.isCompleted"
        (click)="handleClick(toDo.id)"
      />
      <p class="todo-title">{{ toDo.toDo }}</p>
      <button (click)="handleDelete(toDo.id)" class="delete">x</button>
    </div>
    }
  </div>
  }
</div>
